# Sensitive Data
src/test/resources/config.properties

# Compiled Java classes
target/
*.class

# IDE specific files
.settings/
.classpath
.project
.idea/
*.iml
.vscode/

# Logs and Reports
test-output/
build/
*.log